body {
  background-image: url("images/donate-now.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.fluid-container {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 5% 23%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

h1 {
  color: #FFB319;
  font-size: 2.5rem;
  font-family: 'Fira Sans', sans-serif;
}

h3 {
  color: white;
  font-size: 1.3rem;
  font-family: 'Fira Sans', sans-serif;
}

.discription {
  padding: 30px 180px;
}

@media (max-width: 1028px) {
  h1 {
    font-size: 6rem;
  }

  h3 {
    font-size: 2rem;
  }

  .discription {
    padding: 20px;
  }

  .fluid-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 400px;
    padding: 20px 20px;
  }
}
